<%- include('./usersTemplates/header.ejs') %>
<%- include('./usersTemplates/navBarUsers.ejs') %>

<main>
    <%- include('./usersTemplates/loginForm.ejs') %>
</main>

<%- include('./usersTemplates/footer.ejs') %>