<%- include("./userViews/usersTemplates/header") %>

<main>
    <div class="centerText">
        <figure>
            <img id="img404" src="\assets\404.png" alt="img404">
        </figure>
    </div>
    <div class="centerText">
        <a id="goBackBtn" href="/admin/dashboard">Back</a>
    </div>

</main>


<%- include("./userViews/usersTemplates/footer") %>