<%- include('./adminTemplates/headerAD.ejs') %>

<main >

    <h3 class="centerText">welcome to iBlogger</h3>
    <h5 class="centerText">please check latest posts</h5>

    <%- include('./adminTemplates/searchBar.ejs') %>
    
    <div class="headImgBlock">
        <!-- imagen de articulo -->
    </div>



</main>

<%- include('./adminTemplates/footerAD.ejs') %>