
<main>
<body>
    <nav class="navBarAdmin">
      <a href="/admin/dashboard">Home</a>
      <a href="/admin/create-form">Create</a>
      <a href="#">Support</a>
      <a href="/login">Log In</a>
      <a href="/">Log Out</a>
    </nav>
  </body>
</main>