

<footer>
    <div>
        <p class="footerText centerText">©2023 vers. 1.1 iBlogger</p>
        <p class="footerText centerText">-- all rights reserved -- </p>

            <figure class="iconsDiv">
                <img class="footerIcons" src="\assets\icons\iosIcon.png" alt="iOSIcon">
                <img class="footerIcons" src="\assets\icons\androidIcon.png" alt="androidIcon">
                <img class="footerIcons" src="\assets\icons\twitterIcon.png" alt="twitterIcon">
            </figure>

    </div>
</footer>
</body>
</html>