

<main>
    <body>
        <nav class="navBarAdmin">
          <a href="/">Home</a>
          <a href="#">Support</a>
          <a href="/login">Log In</a>
          <a href="#">Sign Up</a>
        </nav>
    </body>
</main>