
<div class="search-container">
    <form action="/search">
        <input type="text" placeholder="Search by word..">
        <button class="generalBtn" type="submit">Search</button>
    </form>
</div>