
<div class="search-container">
    <form method="get" action="/search-results">
        <input type="text" name="search" placeholder="Search by word..">
        <button class="generalBtn" type="submit">Search</button>
    </form>
</div>